*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;
}

a {
    text-decoration: none;
}

.logo a{
    color: rgb(251, 187, 67);
    text-decoration: none;
}

.logo {
    font-size: 1.5rem;
}

.nav-bar ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-bar ul li {
    list-style: none;
    margin: 15px;
    padding: 8px 2px;
}

.nav-bar ul li:hover {
    background-color: rgb(251, 187, 67);
    padding: 8px 2px;
    border-radius: 5px;
}
.nav-bar a {
    font-size: 20px;
    color: black;
}

.get-start {
    color: black;
    font-size: 25px;
    background-color: rgb(251, 187, 67);
    padding: 7px;
    border-radius: 5px;
}

.get-start:hover {
    color: black;
    opacity: 0.8;
}

.sec-1 {
    height: 572px;
    background: linear-gradient(45deg ,rgb(243, 194, 103),rgb(251, 187, 67));
}

.box {
    width: 80%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box1 {
    width: 50%;
}
.box2 {
    width: 50%;
    margin: auto;
}

.box2 img {
    width: 60%;
    height: 70%;
    border-radius: 10px;
    margin-left: 80px;
}

.heading {
    font-size: 80px;
    margin:0;
}

.box1  .p{
    font-size: 20px;
    margin: 5px;
}

button img {
    height: 10px;
}

.btn1 {
    margin-top: 20px;
    background-color: #fff;
    padding: 8px 13px;
    cursor: pointer;
    color: rgb(241, 162, 14);
    border: none;
    border-radius: 3px
}

.btn2 {
    margin-top: 20px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 3px;
    padding: 8px 20px;
    margin-left: 8px;
    color: #fff;
    font-weight: 600;
}

.btn2:hover {
    color: rgb(241, 162, 14);
    background-color: #fff;
    cursor: pointer;
}

/* section two  */

.sec-2 {
    margin-top: 200px;
}

#About {
    text-align: center;
    margin-bottom: 5px;
    font-size: 25px;
}

.lin {
    display: flex;
    justify-content: center;
    padding: 0;
}
.line {
    border: 1.5px solid rgb(241, 162, 14);
    width: 75px;
    text-align: center;
}

.para {
    width: 600px;
    margin: auto;
}
.sec-2 p {
    text-align: center;
}

.sec-3 {
    margin-top: 100px;
}

.container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.container i {
    background-color: rgba(239, 195, 113,0.5);
    color: rgb(201, 134, 8);
    padding: 25px;
    border-radius: 3px; 
}

.container i:hover {
    background-color: rgb(224, 149, 9);
    color: #fff;
    padding: 25px;
    border-radius: 3px; 
    cursor: pointer;
}

.container-box {
    width: 20%;
    box-shadow: 0 0 5px black;
    border: none;
    padding: 15px;
}

.container-box:hover i{
    background-color: rgb(224, 149, 9);
    color: #fff;
    
}

/* section four */

.sec-4 {
    margin-top: 200px;
    margin-bottom: 200px;
}

.heading1 {
    font-size: 45px;
    margin: 0 ;
}

.p1 {
    color: rgb(243, 194, 103);
    font-size: 20px;
}

.btn3 {
    background-color: rgb(224, 149, 9);
    padding: 15px;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    color: #fff;
    cursor: pointer;
}

.btn4 {
    background-color: rgb(214, 181, 121);
    padding: 15px;
    margin-left: 15px;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.btn4:hover{
    background-color: rgb(201, 134, 8);
    cursor: pointer;
}

/* Section five */

.sec-5 {
    height: 500px;
}

/* section six */

.sec-6 {
    height: 300px;
    margin-top: 20px;
}

.para p {
    text-align: center;
}


/* Section seven */


.container-box1 {
    width: 20%;
    box-shadow: 0 0 1px black;
    border: none;
    padding: 15px;
}

.container-box1 h2{
    text-align: center;
}

.container-box1 .p2 {
    text-align: center;
}

.container-box1 sup {
    font-weight: bold;
}

.container-box1 span {
   font-size: 30px;
   font-weight: bolder;
}

.container-box1 .butt {
    display: grid;
}

.container-box1 button {
    margin: auto;
    border: 0;
    background-color: rgb(243, 194, 103);
    padding: 10;
    border-radius: 3px;
    font-size: 20px;
    cursor: pointer;
}

/* contact us */

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #dea147f0;
    height: 1000px;
    width: 100%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.contact-box {
    font-size: 25px;
    width: 80%;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-start;
}

.contact-box input {
    width: 500px;
    font-size: 25px;
    border: none;
    border-bottom:2px solid orange;
    background: transparent;
    margin-left: 30px;
}

.contact-box input:hover {
    border: none;
    border-bottom:2px solid #d4af3df0;
}
.contact-box label {
    margin-left: 30px;
}

.contact-box button {
    font-size: 20px;
    margin-top: 30px;
    margin-left: 30px;
    padding: 10px 15px;
    background-color: orange;
    border: 2px solid orange;
    border-radius: 25px;
    color: #fff;
}

.contact-box button:hover {
    color: black;
    cursor: pointer;
    background-color: aliceblue;
}